@font-face{
    font-family: 'ProximaNova-Regular';
    src: url('../font/ProximaNova-Regular.otf');
    font-family: 'ProximaNova-Semibold';
    src: url('../font/ProximaNova-Semibold.otf');
}
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100%;
} 
.container{
    width: 100%;
    height:100%;
    display: flex;
}
.sidebar{
    width: 102px;
    background-color: #1D2531;
    position: relative;
}
.Item-logo a{
    display: block;
    text-align: center;
    margin-top: 15px;
}
.Item-bottom{
    position: absolute;
    bottom: 15px;
}
.Item-bottom1{
    left: 20%;  
}
.Item-bottom2{
    right: 20%;
}

nav{
    font-family: 'ProximaNova-Semibold';
    flex:0 0 253px;
    background-color: #222C3C;
    position: relative;
}
.menu,.product,.dashboard{
    color: rgba(255,255,255,0.2);
    border-bottom:1px solid rgba(255,255,255,0.05);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
}
.dashboard{
    border:none;
}
nav h1{
    font-size: 12px; 
    margin-bottom: 15px;   
}
.set{
    float: right;
}
.menu-content{
    font-size: 14px;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    margin-bottom: 15px;
}
.product p{
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 15px;
}
.product a{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    margin-left: 30px;
}
.menu-Icon1{
    background-image: url("../image/Book of Wisdom.png");
}
.menu-Icon2{
    background-image: url("../image/Video Camera.png");
}
.menu-Icon3{
    background-image: url("../image/Painting.png");
}
.menu-Icon4{
    background-image: url("../image/Chart.png");
}
.num{
    background-color: #2DA0F8;
    color: white;
    text-align:center;
    line-height: 20px;
    border-radius: 25px;
    width: 30px;
    height:20px;
    float: right;   
}
.warn{
    background-color: #F15134;
    text-align:center;
    color: white;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    float: right;
}

article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.nav-bottom{
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 30px;
    font-size: 14px;
    color: #FFFFFF;
}
.nav-num{
    float: right;
}
.nav-bottom div{
    width: 200px;
    height: 5px;
    border-radius:5px;
    background-color: #2D3848;
    margin-top: 16px;
}
.nav-color{
    width: 40px;
    height: 5px;
    border-radius:5px;
    background: linear-gradient(to right,#7F5CE6,#9C8EE3);
    float: left;
}
.top-bar{
    height: 82px;
    width: 100%;
    border-bottom:1px solid #E6E9EC;
    position: relative;
}
.login-img{
    float: right;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -30px;
}
.login-img img{
    margin-top: 5px;
    margin-right: 28px;
}
.login-name{
    float: right;
    background-image: url('../image/dropdown.png');
    background-repeat: no-repeat;
    background-position: right center;
    height: 100%;
}
.login-name p{
    margin-right: 42px;
    font-size: 16px;
}
.login-name .login-name1{
    color:#2399f1;
    margin-top: 8px;
}
.login-name .login-name2{
    color: #b5b5b5;
}
.side-title{
    font-family: 'ProximaNova-Regular';
    line-height: 82px;
    font-size: 24px;
    color: #354052;
    margin-left: 30px;
}
section{
    width: 100%;
    height: 100%;
    display: flex;

}
.section-left{
    width: 400px;
    height: 100%;
    flex-shrink: 0;
    border-right:1px solid #E6E9EC;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}
.search{
    width: 100%;
    height: 70px;
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom:1px solid #E6E9EC;  
}
.search input{
    width: 340px;
    height: 35px;
    border: 1px solid #E6E9EC;
    margin: 17px 30px 0 30px;
    border-radius: 5px;
    color: #9fa9ba;
    box-sizing: border-box;
    padding-left: 15px;
    background-image: url('../image/Search icon.png');
    background-repeat: no-repeat;
    background-position: right 15px center;
}
.chat{
    flex-grow: 1;
    border-bottom:1px solid #E6E9EC;
    max-height: 132px;
    overflow: hidden;
}
.chat-now{
    border-left:4px solid #2399f1;
}
.chat7{
    flex-grow: 1;
    max-height: 128px;
}
.chat1{
    margin:15px 20px 0 29px;
    overflow: hidden;
    
}
.chat-time{
    float: right;
    color: #7f8fa4;
    font-size: 14px;
}
.chat1 img{
    float:left;
    margin-right:20px;
}
.chat1 div{
    float: left;
}
.chat1 span{
    margin-top: 5px;
}
.chat1 div span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2399f1;
    margin-right: 10px;
}
.chat1 .name1{
    font-size: 16px;
    color: #2399f1;
}
.chat1 div p{
    font-size: 14px;
    color: #b5b5b5;
}
.chat2{
    margin:5px 20px 0 29px;
    font-family: 'ProximaNova-Regular';
}
.chat2 p{
    font-size: 14px;
    color: #585d68;
}
.chat2-num{
    background-color: #269AF3;
    text-align:center;
    color: white;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    float: right;
    margin-top: 5px;
}
.name{
    color: #585d68;
    font-size: 16px;
}

.section-right{
    height: 100%;
    flex-grow: 1;
}
.right-top{
    height: 70px;
    border-bottom:1px solid #E6E9EC;
}
.right-top p{
    line-height: 70px;
    margin-left: 30px;
    display: inline-block;
}
.right-top p span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#26BC3E;
    margin-left: 10px;
}
.arrow{
    float: right;
    margin: 20px 20px 0 0;
    height: 32px;
    width: 150px;
    border-left:1px solid #E6E9EC;
} 
.arrow span{
    line-height: 32px;
    color: #56688a;
    font-size: 14px;
    margin-left: 20px;
}

.right-top button{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f6f7fa;
    width: 35px;
    height: 30px;
    border:1px solid #E6E9EC;
    float: right;
}

.arrow-left{
    background-image: url("../image/Arrow left.png");
    border-radius: 5px 0 0 5px;
}
.arrow-right{
    background-image: url("../image/Arrow right.png");
    margin-right: 0px;
    border-radius: 0 5px 5px 0;
}
.tools{
    float: right;
    margin: 20px 25px 0 0;
}
.trash{
    background-image: url("../image/Trash icon.png");
    border-radius: 0 5px 5px 0;
}
.upload{
    background-image: url("../image/Upload icon.png");
}
.user{
    background-image: url("../image/User icon.png");
}
.open-chat{
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: column; 
}
.open-chat h4 span{
    color: #7f8fa4;
}
.open-chat{
    font-size: 14px;
    color: #7f8fa4;
}
.open-chat h4{
    font-size: 16px;
    margin-bottom: 10px;
    color:#585d68;
}
.today{
    max-height:380px;
    flex-grow: 1;
}
.bessie{
    width: 100%;
    margin-top: 27px;
    margin-bottom: 20px;
    height: 90px;
}
.open-chat .message1{
    float: right;
    width: 82%;
    margin-right: 8.2%;
}
.today .jackson{
    height: 140px;
}
.bessie img,.jackson img{
    margin-left: 3.1%;
}
.line{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0px;
}
.line-left,.line-right{
    flex: 1;
    border-top: 1px solid #E6E9EC;
}
.line-text{
    text-align: center;
    margin:0 20px;
    font-size: 16px;
    color: #B6BFCB;
}
.tuesday{
    max-height: 420px;
    flex-grow: 1;
}
.tuesday .jackson{
    height: 120px;
}
.photo{
    display: inline-block;
    width: 156px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.photo .amplify{
    position: absolute;
    width: 156px;
    height: 100px;
    border-radius: 5px;
    z-index: 1;
    display: none;
    background-color: rgba(0,0,0,0.6);
}
.photo img{
    position: absolute;
    z-index: 0;
}
.photo:hover .amplify{
    display: block;
}
.amplify a{
    display: block;
    width: 156px;
    height: 100px;
    background: url('../image/Open picture icon.png') no-repeat center;
}
.photo1{
    margin-left:10%;
    margin-right: 10px;
}


.new{
    width:100%;
    min-height: 240px;
    flex-grow: 0;
    flex-shrink: 0;
}
.new .line-left,.new .line-right{
    border-top: 1px solid #a7d6f9;
}
.new .line-text{
    color: #73B7F5;
}
.new input{
    width:91%;
    height:54px;
    border:1px solid #E6E9EC;
    margin-left:3.1%;
    background: url('../image/Add a file icon.jpg') no-repeat left;
    padding-left: 70px;
}

